<div class="page__footer">

  <!-- Image -->
  <img src="/assets/images/Captura3.png" alt="Footer Image">

  <!-- Footer info -->
  <div class="page__footer-info">
    <!-- Content for the left side -->
    <ul>
      <!-- Add Terminos Y Condiciones link -->
      <li><a href="/TerminosYCondiciones/" rel="nofollow noopener noreferrer">Términos y Condiciones</a></li>
      <!-- Add Politica De Privacidad link -->
      <li><a href="/PoliticaDePrivacidad/" rel="nofollow noopener noreferrer">Politica De Privacidad</a></li>
      <!-- Add Politica De Privacidad link -->
      <li><a href="/contact/" rel="nofollow noopener noreferrer">Contacta con nosotros</a></li>
    </ul>
  </div>

  <!-- Footer follow -->
  <div class="page__footer-follow">
    <ul class="social-icons">
      {% if site.data.ui-text[site.locale].follow_label %}
        <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
      {% endif %}

      {% if site.footer.links %}
        {% for link in site.footer.links %}
          {% if link.label and link.url %}
            {% if link.label != "Instagram" %} <!-- Check if the link label is not Instagram -->
              <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer">{{ link.label }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <!-- Add Instagram link -->
      <li><a href="https://www.instagram.com/gastrali.app?igsh=Mnl0OGw1NjFwYml6" rel="nofollow noopener noreferrer"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a></li>
      <!-- Add Youtube link -->
      <li><a href="https://www.youtube.com/channel/UCgOM7Qcw4gNAI5ueo5_vRmA" rel="nofollow noopener noreferrer"><i class="fab fa-youtube" aria-hidden="true"></i> Youtube</a></li>
      
    </ul>
  </div>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>
