{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        
        <!-- Botón Iniciar sesión -->
        <button class="btn btn--secondary" id="login-link" onclick="openNetlifyIdentity()">Iniciar Sesión</button>

        <!-- Botón Mi Cuenta -->
        <div class="account-menu">
          <button class="btn btn--secondary" id="account-button" onclick="toggleAccountMenu()" style="color: rgb(57, 62, 70);background-color: rgb(255, 255, 255);outline: none;">
            <div class="account-button-content" style="display: flex;align-items: center;flex-direction: row;">
              <div class="account-button-image-wrapper" style="margin-right: 10px;">
                <img src="/assets/images/CirculoAmarillo.svg" alt="User Initial" class="account-button-image">
                <span class="account-button-letter" id="account-button-letter">L</span>
              </div>
              <div style="display: flex;flex-direction: column;align-items: flex-start;">
                <span id="account-username-button" style="font-size: 14px;text-transform: uppercase;">Mi Cuenta</span>
                <span id="account-plan" class="account-subtitle" style="font-style: italic;font-size: 14px;font-weight: normal;"></span>
              </div>
              <div class="account-button-image-wrapper">
                <img src="/assets/images/angulo-hacia-abajo.png" alt="User Initial" class="account-button-image" style="width: 13px; margin-top: 10px; margin-right: 10px;">
              </div>
            </div>
          </button>
          <div id="account-menu-dropdown" class="account-dropdown" style="display: none;">
            <div class="account-menu-image-wrapper">
              <img src="{{ '/assets/images/CirculoAmarillo.svg' | relative_url }}" alt="User Initial" class="account-menu-image">
              <span class="account-menu-letter" id="account-menu-letter">L</span>
            </div>
            <p style="display: flex; justify-content: center; margin: 1em 0em 1.5em">¡Hola,<span id="account-username" style="margin-left: 0.2em;">User</span>!</p>
            <button class="button-cuenta" onclick="location.href='/miCuenta/'">
              <i class="fas fa-user" aria-hidden="true"></i> Cuenta
            </button>
            <a href="/miCuenta/" style="display: inline-flex; align-items: center; text-decoration: none; margin-top: 0.6em;">
              <i class="fas fa-cog" style="margin-right: 8px;"></i>
              Configuración
            </a>
            <a href="#" onclick="logout()" class="boton" style="display: inline-flex; align-items: center; text-decoration: none;">
              <img src="/assets/images/log-out.png" alt="Cerrar Sesión" style="width: 20px; height: 20px; margin: 0 5px 0 0;"> <!-- Margin to separate icon from text -->
              Cerrar Sesión
            </a>
          </div>
        </div>

        {% if site.search == true %}
        <button class="btn btn--primary search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="btn btn--primary greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script>
  // Function to fetch subscription plan (product name)
  function fetchSubscriptionPlan(email) {
    fetch('/.netlify/functions/server', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ action: 'get_subscription_plan', email: email })
    })
    .then(response => response.json())
    .then(data => {
      if (data && data.product_name) {
        updateSubscriptionPlan(data.product_name); // Function to update the UI with the product name
      } else {
        console.error('Subscription plan (product name) not found in response:', data);
      }
    })
    .catch(error => {
      console.error('Error fetching subscription plan:', error);
    });
  }
  
  function openNetlifyIdentity() {
    console.log("Clic en iniciar sesión");
    if (window.netlifyIdentity) {
      window.netlifyIdentity.open();
    } else {
      console.error("Netlify Identity no está disponible");
    }
  }

  function toggleAccountMenu() {
    const accountMenu = document.getElementById('account-menu-dropdown');
    if (accountMenu) {
      const isDisplayed = accountMenu.style.display === 'block';
      accountMenu.style.display = isDisplayed ? 'none' : 'block';
    }
  }

  // Cerrar el menú al hacer clic fuera de él
  window.addEventListener('click', function(event) {
    const accountMenu = document.getElementById('account-menu-dropdown');
    if (accountMenu && !document.getElementById('account-button').contains(event.target) && !accountMenu.contains(event.target)) {
      accountMenu.style.display = 'none';
    }
  });

  // Netlify Identity script y manejo de eventos
  netlifyIdentity.on('login', user => {
    console.log('Usuario inició sesión', user);
    fetchSubscriptionPlan(user.email);
    handleAuthenticationChange();
    // Display welcome message and username
    const usernameButtonSpan = document.getElementById('account-username-button');
    const usernameMenuSpan = document.getElementById('account-username');
    if (usernameButtonSpan && usernameMenuSpan) {
      const username = user.user_metadata.full_name || user.email;
      usernameButtonSpan.innerText = username;
      usernameMenuSpan.innerText = username;
    }

    // Set the initial letter
    const initialLetter = (user.user_metadata.full_name || user.email)[0].toUpperCase();
    document.getElementById('account-button-letter').innerText = initialLetter;
    document.getElementById('account-menu-letter').innerText = initialLetter;
  });

  netlifyIdentity.on('logout', () => {
    console.log('Usuario cerró sesión');
    handleAuthenticationChange();
    // Redirigir a la página principal después de cerrar sesión
    location.href = '/';
  });

  // Function to update the subscription plan on the UI
  function updateSubscriptionPlan(productName) {
    const subscriptionElement = document.getElementById('account-plan');
    if (subscriptionElement) {
      subscriptionElement.textContent = `Plan ${productName}`;
      console.log('Subscribed Plan:', subscriptionElement.textContent);
    }
  }

  function logout() {
    netlifyIdentity.logout();
  }

  function handleAuthenticationChange() {
    const isLoggedIn = netlifyIdentity.currentUser() !== null;

    // Ocultar o mostrar el botón de iniciar sesión según si el usuario ha iniciado sesión
    const loginButton = document.getElementById('login-link');
    if (loginButton) {
      loginButton.style.display = isLoggedIn ? 'none' : 'block';
    }

    // Ocultar o mostrar el botón "Mi Cuenta" y el menú desplegable según si el usuario ha iniciado sesión
    const accountButton = document.getElementById('account-button');
    const accountMenu = document.getElementById('account-menu-dropdown');
    if (accountButton) {
      accountButton.style.display = isLoggedIn ? 'block' : 'none';
    }
    if (accountMenu) {
      accountMenu.style.display = 'none'; // Asegurarse de que el menú esté oculto al cambiar el estado de autenticación
    }
  }

  // Llamada inicial para configurar la visibilidad del botón al cargar la página
  handleAuthenticationChange();
</script>

<style>
  .account-menu {
    position: relative;
    display: inline-block;
  }
  .account-dropdown {
    width: 17em;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; /* Alinea el menú desplegable a la derecha */
    border-radius: 20px;
    padding: 1em;
  }
  .account-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .account-dropdown a:hover {
    background-color: #f1f1f1;
  }
  .account-button-content {
    display: flex;
    flex-direction: column; /* Cambia a columna para colocar "Plan actual" debajo de "Mi Cuenta" */
    align-items: center;
  }
  .account-subtitle {
    font-size: 0.8em; /* Ajusta el tamaño de la fuente del subtítulo según tus necesidades */
    color: #393e46; /* Ajusta el color del subtítulo */
  }
  .account-button-image-wrapper {
    position: relative;
    width: 38px;
    height: 38px;
    margin-right: 8px;
  }
  .account-button-image {
    width: 100%;
    height: auto;
    margin-top: 0em;
  }
  .account-button-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  .account-menu-image-wrapper {
    position: relative;
    text-align: center;
  }
  .account-menu-image {
    width: 140px;
    height: 140px;
    margin: 1em 2em 0em;
    float: none;
  }
  .account-menu-letter {
    margin-top: 0.15em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: white;
  }

  .button-cuenta {
    padding: 14px 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: #69f;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
