{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        
        <!-- Botón Iniciar sesión -->
        <button class="btn btn--secondary" id="login-link" onclick="openNetlifyIdentity()">Iniciar Sesión</button>

        <!-- Botón Mi Cuenta -->
        <div class="account-menu">
          <button class="btn btn--secondary" id="account-button" onclick="toggleAccountMenu()" style="display: none; color: #393e46; background-color: #fff;">
            <div class="account-button-content" style="display: flex;align-items: center;flex-direction: row;">
              <div class="account-button-image-wrapper" style="margin-right: 10px;">
                <img src="/assets/images/CirculoAmarillo.svg" alt="User Initial" class="account-button-image">
                <span class="account-button-letter" id="account-button-letter">L</span>
              </div>
              <div style="display: flex;flex-direction: column;align-items: flex-start;">
                <span id="username" style="font-size: 14px;text-transform: uppercase;">Mi Cuenta</span>
                <span class="account-subtitle" style="font-style: italic;font-size: 14px;font-weight: normal;">Plan actual</span>
              </div>
            </div>
          </button>
          <div id="account-menu" class="account-dropdown" style="display: none;">
            <div class="account-menu-image-wrapper">
              <img src="{{ '/assets/images/CirculoAmarillo.svg' | relative_url }}" alt="User Initial" class="account-menu-image">
              <span class="account-menu-letter" id="account-menu-letter">L</span>
            </div>
            <a href="/miCuenta/">Perfil</a>
            <a href="/miCuenta/settings">Configuración</a>
            <a href="#" onclick="netlifyIdentity.logout(); return false;">Cerrar Sesión</a>
          </div>
        </div>

        {% if site.search == true %}
        <button class="btn btn--primary search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="btn btn--primary greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script>
  function openNetlifyIdentity() {
    console.log("Clic en iniciar sesión");
    if (window.netlifyIdentity) {
      window.netlifyIdentity.open();
    } else {
      console.error("Netlify Identity no está disponible");
    }
  }

  function toggleAccountMenu() {
    const accountMenu = document.getElementById('account-menu');
    if (accountMenu) {
      const isDisplayed = accountMenu.style.display === 'block';
      accountMenu.style.display = isDisplayed ? 'none' : 'block';
    }
  }

  // Netlify Identity script y manejo de eventos
  netlifyIdentity.on('login', user => {
    console.log('Usuario inició sesión', user);
    handleAuthenticationChange();
    // Display welcome message and username
    const usernameSpan = document.getElementById('username');
    if (usernameSpan) {
      usernameSpan.innerText = user.user_metadata.full_name || user.email;
    }
    // Set the initial letter
    const initialLetter = (user.user_metadata.full_name || user.email)[0].toUpperCase();
    document.getElementById('account-button-letter').innerText = initialLetter;
    document.getElementById('account-menu-letter').innerText = initialLetter;
  });

  netlifyIdentity.on('logout', () => {
    console.log('Usuario cerró sesión');
    handleAuthenticationChange();
    // Redirigir a la página principal después de cerrar sesión
    location.href = '/';
  });

  function handleAuthenticationChange() {
    const isLoggedIn = netlifyIdentity.currentUser() !== null;

    // Ocultar o mostrar el botón de iniciar sesión según si el usuario ha iniciado sesión
    const loginButton = document.getElementById('login-link');
    if (loginButton) {
      loginButton.style.display = isLoggedIn ? 'none' : 'block';
    }

    // Ocultar o mostrar el botón "Mi Cuenta" y el menú desplegable según si el usuario ha iniciado sesión
    const accountButton = document.getElementById('account-button');
    const accountMenu = document.getElementById('account-menu');
    if (accountButton) {
      accountButton.style.display = isLoggedIn ? 'block' : 'none';
    }
    if (accountMenu) {
      accountMenu.style.display = 'none'; // Asegurarse de que el menú esté oculto al cambiar el estado de autenticación
    }
  }

  // Llamada inicial para configurar la visibilidad del botón al cargar la página
  handleAuthenticationChange();
</script>

<style>
  .account-menu {
    position: relative;
    display: inline-block;
  }
  .account-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; /* Alinea el menú desplegable a la derecha */
  }
  .account-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .account-dropdown a:hover {
    background-color: #f1f1f1;
  }
  .account-button-content {
    display: flex;
    flex-direction: column; /* Cambia a columna para colocar "Plan actual" debajo de "Mi Cuenta" */
    align-items: center;
  }
  .account-subtitle {
    font-size: 0.8em; /* Ajusta el tamaño de la fuente del subtítulo según tus necesidades */
    color: #393e46; /* Ajusta el color del subtítulo */
    margin-top: 4px; /* Ajusta el espacio entre "Mi Cuenta" y "Plan actual" */
  }
  .account-button-image-wrapper {
    position: relative;
    width: 38px;
    height: 38px;
    margin-right: 8px;
  }
  .account-button-image {
    width: 100%;
    height: auto;
    margin-top: 0em;
  }
  .account-button-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  .account-menu-image-wrapper {
    position: relative;
    text-align: center;
    margin: 10px auto; /* Añade margen y centra el contenedor */
  }
  .account-menu-image {
    width: 100px;
    height: 100px;
    margin: 2em;
    float: none;
  }
  .account-menu-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
</style>
