{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            {%- if link.title == "Log In" -%}
              <li id="login-link" class="masthead__menu-item" style="display: block;">
                <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>Iniciar Sesión</a>
              </li>
            {%- endif -%}
            {%- if link.title == "Log Out" -%}
              <li id="logout-link" class="masthead__menu-item" style="display: none;">
                <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>Cerrar Sesión</a>
              </li>
            {%- endif -%}
            {%- if link.title != "Log In" and link.title != "Log Out" -%}
              <li class="masthead__menu-item">
                <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
        
        <!-- Botón de prueba -->
        <button onclick="openNetlifyIdentity()">Prueba Botón</button>

        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script>
  function myFunction() {
    console.log("¡Funciona el botón!");
    // Puedes agregar más lógica aquí según tus necesidades
  }
</script>

<script>
  function openNetlifyIdentity() {
    console.log("Clic en iniciar sesión");
    if (window.netlifyIdentity) {
      window.netlifyIdentity.open();
    } else {
      console.error("Netlify Identity no está disponible");
    }
  }

  // Netlify Identity script and event handling
  netlifyIdentity.on('login', user => {
    console.log('User logged in', user);
    handleAuthenticationChange();
  });

  netlifyIdentity.on('logout', () => {
    console.log('User logged out');
    handleAuthenticationChange();
    // Redirigir a la página principal después de cerrar sesión
    location.href = '/';
  });

  function handleAuthenticationChange() {
    const isLoggedIn = netlifyIdentity.currentUser() !== null;

    // Ocultar o mostrar la pestaña "Iniciar Sesión" según si el usuario ha iniciado sesión
    const loginLink = document.getElementById('login-link');
    if (loginLink) {
      loginLink.style.display = isLoggedIn ? 'none' : 'block';
    }

    // Ocultar o mostrar la pestaña "Cerrar Sesión" según si el usuario ha iniciado sesión
    const logoutLink = document.getElementById('logout-link');
    if (logoutLink) {
      logoutLink.style.display = isLoggedIn ? 'block' : 'none';
    }
  }
</script>







