/* ==========================================================================
   FOOTER
   ========================================================================== */

   .page__footer {
    @include clearfix;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 3em;
    color: $muted-text-color;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
    background-color: $footer-background-color;
    position: relative; /* Add this line to set relative positioning */
    display: flex; /* Add this line */
    align-items: stretch; /* Add this line */
  
    img {
      position: absolute; /* Add this line to set absolute positioning */
      top: 0; /* Position the image at the top of the footer */
      left: 0; /* Position the image at the left of the footer */
      width: 100%; /* Make the image fill the width of the footer */
      z-index: 1; /* Ensure the image appears above other content */
    }
  
    footer {
      @include clearfix;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0em;
      max-width: 100%;
      padding: 2em 1em 6em 1em; // top right bottom left
  
      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }
  
    a {
      color: inherit;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .fas,
    .fab,
    .far,
    .fal {
      color: $muted-text-color;
    }
  }
  
  .page__footer-info {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    margin-right: 10px; /* Add margin to the right */
  }
  
  .page__footer-follow {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    margin-left: 10px; /* Add margin to the left */
  }
  